.side-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  background: #1b1c1d;
  flex: 1;
}

.content {
  padding: 30px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  width: 85%;
  left: 15%;
  background: aliceblue;
  flex: 1;
  overflow: scroll
  ;
}
